body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal;
   margin-top: -25px;
    background-color: #ffffff; /* Add a default background color for the entire page */
    color: #403d39;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;
}


header {
    background-color: transparent;
    padding: 20px; 
    color: #403d39; /* Updated text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header .logo-container img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto;
}
header .logo-container {
    max-width: 360px; /* Adjust the size as needed */
    margin-right: 15px; /* Adjust the margin as needed */
    flex-shrink: 0; 
}

nav a {
    color: #403d39; /* Updated text color */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
nav a:hover {
    color: #883F39;
}
.icon-container {
    display: none;
    cursor: pointer;
    font-size: 24px;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color to cover the background image */
}
.aboutme1 {
    padding-top: 0px;
}
.aboutme2 {
    padding: 35px;
    text-align: left;
}
#myImage {
    position: relative;
    width: 100%;
    top: 30%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    opacity: 0.25;
  
}
.landing {
    position: absolute;
    z-index: 2;
    max-width: 900px;
    color: black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
}
.cheatsheet {
    text-align: left;
}

#gallery-container {
    overflow: hidden;
}

.image-wrapper {
    display: inline-block;
    background-color: #F3C1BC;
    color: #403d39;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    position: relative;
    width: 450px;
    max-width: 100%;
    box-sizing: border-box;
}


#rotator-prev,
#rotator,
#rotator-next {
    width: 250px; /* Use 100% width for responsiveness */
    height: auto;
    border-radius: 8px;
}

.text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #F3C1BC;
    color: #403d39;
    padding: 10px;
    
}

#image-text-prev,
#image-text,
#image-text-next,
#image-title-prev,
#image-title,
#image-title-next {
    color: #403d39;
    padding: 7px;
    width: 100%;
    text-align: center;
    font-size: medium;
}

#prev-button,
#next-button {
    margin: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #403d39;
    font-weight: normal;
}

p {
    font-size: 18px;
    color: #403d39; /* Updated text color */
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #403d39; /* Updated text color */
    font-weight: normal;
}
h2 a {
    text-decoration: none;
    color: #403d39; /* Updated text color */
    text-underline-offset: none;
}
h2 a:hover {
    color: #883F39;
}
h3,
h4,
h5 {
    font-weight: normal;
}
.contact {
    background-color: #883F39;
    color: #fff; /* Updated text color */
    
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    color: #fff;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #403d39; /* Updated background color */
    color: #fff; /* Updated text color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {

background-color: #883F39;
}

.contactbg {
    background-color: #F3C1BC; /* Set the background color of the main section */
 
    margin-bottom: 50px; /* Add some padding for better spacing */
}


/* Basic styling for the footer */
footer {
    background-color: #ffffff;
    text-align: center;
    color: #403d39;
    font-weight: normal;
    justify-content: space-between;
}

.media-image {
    max-width: 100%;
  height: auto;
}
.small-image {
    /* Additional styles for making the images smaller */
    width: 50px; /* You can adjust the width to your preference */
    height: auto; /* Maintain aspect ratio */
  }


/* Style for each section in the footer */
.contact2,
.address-media,
.newsletter {
    display: inline-block;
    margin-top: -30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    vertical-align: top;
    text-align: center; /* Align text to the left */
}

/* Style for headings in each section */
.contact2 h4,
.address-media h4,
.newsletter h4 {
    color: #403d39; /* Updated text color */
}

/* Style for the links in the address-media section */
.address-media a {
    color: #403d39;
    text-decoration: none;
    margin-right: 10px;
    display: block; /* Make the links block-level for better spacing */
}


/* Style for the form in the newsletter section */
.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter label {
  margin-bottom: 10px;
}

.newsletter input {
   width: 250px;
  padding: 8px;
  margin-bottom: 10px;
}

/*contact page */
#contactForm {
    /* Your styles go here */
    max-width: 600px;
    margin: auto;
    margin-bottom: 90px;
    background-color: #F3C1BC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 input, select, textarea {
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #883F39;
    border-radius: 4px;
}


/* Header styles for smaller screens */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    header .logo-container {
        margin-right: 10px;
    }
    nav a {
        margin: 0 10px;
    }
}

/* Main content styles for smaller screens */
@media only screen and (max-width: 768px) {
    main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #myImage {
        top: 20%;
    }
    .landing {
        top: 40%;
        
    }
   p {
            font-size: 0.8em; }
    h2 {
        font-size: smaller;
    }
}

/* Service box styles for smaller screens */
@media only screen and (max-width: 768px) {
    .services {
        padding: 20px;
    }
    .service-box {
        width: 100%;
        margin: 10px 0;
    }
}

/* Contact section styles for smaller screens */
@media only screen and (max-width: 768px) {
    .contact {
        padding: 20px;
    }
}

/* Footer styles for smaller screens */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    .contact2,
    .address-media,
    .newsletter {
        margin: 10px;
    }
}

/* Additional media queries for larger screens if needed */
@media only screen and (min-width: 1200px) {
    /* Add styles for larger screens here */
}

@media only screen and (min-width: 1600px) {
    /* Add styles for even larger screens here */
}